body{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 18px;
}

/* 横幅設定 */
body{
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto 0 auto;
}

/* ヘッダー */
#header{
    position: relative;

}
#logo{
    height: 150px;
    position: absolute;
    top: 0px;
    left: 40px;
    z-index: 50;
}

/* メニュー */
#menu{
    font-size: 22px;
    position: absolute;
    display: flex;
    justify-content:flex-end;
    top: 65px;
    left: 0;
    right: 0;
    margin: 30px auto 0 auto;
    z-index: 55;
}

#menu > a{
    margin-left: 28px;
}

#menu > a:link{
    color: #003DB9;
    text-decoration: none;
}

#menu > a:visited{
    color: #003DB9;
}

/* ホバーでジャンプ */
@keyframes wave {
    100% {
      transform: translate3d(0, -10px, 0);
    }
}
  
.wave span {
display: inline-block;
}

.wave:hover span {
animation-name: wave;
animation-duration: .2s;
animation-direction: alternate;
animation-iteration-count: 2;
}

.wave:hover span:nth-child(2) {
animation-delay: .1s;
}

.wave:hover span:nth-child(3) {
animation-delay: .2s;
}

.wave:hover span:nth-child(4) {
animation-delay: .3s;
}

.wave:hover span:nth-child(5) {
    animation-delay: .4s;
}

.wave:hover span:nth-child(6) {
    animation-delay: .5s;
}

.wave:hover span:nth-child(7) {
    animation-delay: .6s;
}

.wave:hover span:nth-child(8) {
    animation-delay: .7s;
}
    
        
/* タイトル (左寄せ）*/
.index{
    position: relative;
    margin-top: 50px;
    
}

.index > img{
    width: 50%;
    position: absolute;
    top: 50px;
}

.title{
    position: absolute;
    left: 390px;
    top: 30px;
}

.title > h2{
    font-size: 40px;
    color: #187FC4;

}
.title > h2::first-letter{
    font-size: 48px;
}


/* 紹介したスポット */
#spotmap{
    margin: 0 auto 0 auto;
    padding-top: 150px;
}

.access-title{
    background-color: #187FC4;
    height: 80px;

}

.access-title > h2{
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    padding: 15px 0;
}

iframe{
    width: 800px;
    height: 800px;
    display: block;
    margin: 30px auto 0 auto;
}

.map-btn{
    display: block;
    margin: 20px auto 0 auto;
    background-color: #187FC4;
    border: solid 2px #187FC4; 
    color: #ffffff;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
}

a.map-btn:link{
    color: #ffffff;
    text-decoration: none;
}

a.map-btn:visited{
    color: #ffffff;
    text-decoration: none;
}

a.map-btn:hover{
    background-color: #FFFFFF;
    color: #187FC4;
    border: solid 2px #187FC4; 
}

/* 行き方紹介 */
#rootmap{
    margin: 100px auto 0 auto;
}

/* 電車での行き方 */
.rootmap-img img{
display: block;
margin: 20px auto 0 auto;
}

/* 車での行き方 */
.roadmap-img img{
    display:block;
    margin: 220px auto 0 auto;
}

/* フッター */
footer{
    margin: 100px auto 30px auto;
}

/* TOPへ戻るボタン */
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#187FC4;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color: #fff;
    font-size: 0.8rem;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	transition:all 0.3s;
}

#page-top a:hover{
	background: #FFFD84;
    color: #187FC4;
}

/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 20px;
	z-index: 100;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}

/* ロゴ */
#footer-logo{
    margin: 0 auto;
    width: fit-content;
}

#footer-logo > img{
    height: 150px;
    text-align: center;
}

#copyright{
    text-align: center;
    font-size: 20px;
}

