body{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 18px;
}

/* 横幅設定 */
body{
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto 0 auto;
}

/* ヘッダー */
#header{
    position: relative;

}
#logo{
    width: 400px;
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 50;
}

/* メニュー */
#menu{
    font-size: 22px;
    position: absolute;
    display: flex;
    top: 30px;
    right: 20px;
    z-index: 55;
}

#menu > a{
    margin-left: 28px;
}

#menu > a:link{
    color: #003DB9;
    text-decoration: none;
}

#menu > a:visited{
    color: #003DB9;
}

/* ホバーでジャンプ */
@keyframes wave {
    100% {
      transform: translate3d(0, -10px, 0);
    }
}
  
.wave span {
display: inline-block;
}

.wave:hover span {
animation-name: wave;
animation-duration: .2s;
animation-direction: alternate;
animation-iteration-count: 2;
}

.wave:hover span:nth-child(2) {
animation-delay: .1s;
}

.wave:hover span:nth-child(3) {
animation-delay: .2s;
}

.wave:hover span:nth-child(4) {
animation-delay: .3s;
}

.wave:hover span:nth-child(5) {
    animation-delay: .4s;
}

.wave:hover span:nth-child(6) {
    animation-delay: .5s;
}

.wave:hover span:nth-child(7) {
    animation-delay: .6s;
}

.wave:hover span:nth-child(8) {
    animation-delay: .7s;
}
    
        
/* メインビジュアル */
#mainvisual{
    position: relative;
}

.mainimg {
    -webkit-mask-image: url("img/mask.png");
    mask-image: url("img/mask.png");
    border-radius: 0 0 30px 30px;
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 15s infinite;
}

.mainimg:nth-of-type(2) {
	animation-delay: 5s;
}

.mainimg:nth-of-type(3) {
	animation-delay: 10s;
}

@keyframes change-img-anim {
	0%{ opacity: 0;}
	10%{ opacity: 1;}
    28%{ opacity: 1;}
	38%{ opacity: 0;}
	100%{ opacity: 0;}
}

/* タイトル (左寄せ）*/
.index{
    position: relative;
}

.title{
    position: absolute;
    right: 380px;
    top: -30px;
}

.title > h2{
    font-size: 60px;
    color: #187FC4;

}
.title > h2::first-letter{
    font-size: 80px;
}

/* タイトル（右寄せ） */

.img-reverse{
    transform: scale(-1, 1);
    position: absolute;
    right: 0;
    bottom: 0;
}

.title-reverse{
    position: absolute;
    left: 380px;
    bottom: 30px;
}

.title-reverse > h2{
    font-size: 60px;
    color: #187FC4;
}
.title-reverse > h2::first-letter{
    font-size: 80px;
}


/* 交野市って？ */
#about{
    margin: 0 auto 0 auto;
    padding-top: 1000px;
    position: relative;
}

#explanation{
    margin-top: 150px;
    display: flex;
}

#explanation-left{
    margin-left: 100px;
    padding-right: 20px;
    width: 715px;
}

#explanation-left > .large{
    font-size: 28px;
    font-weight: bold;
}

/* 背景を星の形にくり抜いてるやつ */
.star{
    width: 500px;
    height: 500px;

    -webkit-mask-image: url(img/star.png);
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;

	mask-image: url(img/star.png);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;

    position: absolute;
    z-index: -1;
}

.img-large{
    width: 587px;
    height: 587px;
}

.yellow{
    background-color: #FFFD84;
}

#explanation-left > .img-large{
    top: 1350px;
    transform: rotate(-15deg);
}

#explanation-right{
    display: flex;
    align-items: center;
}

#explanation-right > img{
    border-radius: 20px;
    height: 500px;
}

/* 背景色 */
.back-diagonal{
    position: absolute;
    top: 600px;
    height: 2000px;
    width: 1440px;
    background-color: #F2FEFF;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    z-index: -10;
}


/* 絶景を知って！ */
#superbview{
    margin: 250px auto 0 auto;
    padding-top: 250px;
}

.introductory-left{
    padding-top: 250px;
    margin-left: 50px;
}

.introductory-left > p{
    line-height: 50px;
    font-size: 25px;
}

/* ピーコックグリーンの星 */
.img-medium{
    height: 380px;
    width: 380px;
}

.peacock{
    background-color: #73F2EB;
}

#superbview > .img-medium{
    top: 2600px;
    left: 850px;
    transform: rotate(15deg);
}

/* 青の星 */
.img-small{
    height: 222px;
    width: 222px;
}

.blue{
    background-color: #9FDDFF;
}

#superbview > .img-small{
    top: 2850px;
    left: 1150px;
    transform: rotate(-5deg);
}
/* 画像と説明文（交野山） */
.mountain{
    margin: 150px 100px 0 65px;
    display: flex;
    position: relative;
}

.viewimage{
    border-radius: 20px;
    border: 20px solid #BAFFEE;
}

.viewintro{
    background-color: #BAFFEE;
    border-radius: 20px;
    padding: 20px;
    height: 500px;
    width: 667px;
}

#viewimage-left{
    z-index: 10;
}

#viewintro-right{
    position: absolute;
    top: 105px;
    left: 600px;
    z-index: 1;
}

#viewintro-right > h3{
    margin-top: 30px;
    margin-left: 100px;
}

.viewintro > h3{
    font-size: 32px;
}

#viewintro-right > p{
    margin-left: 100px;
}

/* 画像と説明文（星のブランコ） */
.bridge{
    margin: 300px 100px 0 65px;
    display: flex;
    position: relative;
}

#viewimage-right{
    position: absolute;
    left:600px;
    z-index: 20;
}

#viewintro-left{
    position: absolute;
    top: 105px;
    z-index: 11;
}

#viewintro-left > p{
    margin-right: 100px;
}


/* もっと見るボタン */

.more{
    position: absolute;
    top: 550px;
    right: 10px;
    z-index: 5;
    background-color: #187FC4;
    color: #ffffff;
    width: 150px;
    height: 45px;
    padding-left: 1em;
    padding-top: 1em;
    border-radius: 10px;
    background-image: url(img/arrow.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.more > a:link{
    color: #ffffff;
    text-decoration: none;

}

.more > a:hover{
    color: #ffffff;
}

.more > a:visited{
    color: #ffffff;
    text-decoration: none;
}

.btn::after {
    position: absolute;
    bottom: 10px;
    left: 1em;
    content: '';
    width: 82%;
    height: 2px;
    background-color: #fafafa;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.btn:hover::after {
    transform: scale(1, 1);
}

#more-left{
    left: 400px;
    z-index: 15;
}

/* 歴史を知って！ */
#history{
    margin: 955px auto 0 auto;
    position: relative;
}

.introductory-right{
    margin-top: 250px;
    margin-right: 50px;
}

.introductory-right > p{
    text-align: right;
    line-height: 50px;
    font-size: 25px;
}

/* 青い星 */
#history > .img-medium{
    top: 300px;
    left: 350px;
    transform: rotate(-15deg);
}

/* 紫の星 */
.purple{
    background-color: #AE88FF;
}

#history > .img-small{
    top: 630px;
    left: 250px;
    transform: rotate(10deg);
}


#indexes{
    margin: 300px auto 0 auto;
}

/* アコーディオン部分 */
/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 100%;
    margin:0 auto;
    padding-left: 0;
}

.accordion-area li{
    margin-top: 40px;
}

.accordion-area section {
	border: 1px solid #D4BFFF;
    border-radius: 20px;
    background-color: #ffffff;
}

/*アコーディオンタイトル*/
.history-index {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:32px;
    padding: 2% 2% 2% 80px;
    transition: all .5s ease;
    background-color: #D4BFFF;
    margin: 0;
    border-radius: 20px;
}

/*アイコンの＋と×*/
.history-index::before,
.history-index::after{
    position: absolute;
    content:'';
    width: 25px;
    height: 3px;
    background-color: #000;
    
}
.history-index::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.history-index::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/
.history-index.close::before{
	transform: rotate(45deg);
}

.history-index.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none; 
    background: #fff;
	margin:0 3% 3% 3%;
    padding: 3%;
}

.trivia{
    float: left;
    width: 800px;
}

.pict > img{
   margin-left: 75px;
   border-radius: 20px;
}

#kitadatei{
    text-align: center;
}

#kitadatei > img{
    border-radius: 20px;
}

#seisyounagon{
    margin-top: 60px;
    margin-right: 120px;
    text-align: right;
}

#makuranosoushi{
    font-family: "shinryu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #D5EAD8;
    border-radius: 50%;
    box-shadow: inset 0 0 15px 15px #fff;
}

#makuranosoushi > p:nth-child(1){
    text-indent: -15em;
}

#makuranosoushi > p:nth-child(2){
    text-indent: -2em;
}

#makuranosoushi > p:nth-child(3){
    text-indent: 3em;
}

/* 背景色 */
.back-trapezoid{
    position: absolute;
    top: 0px;
    height: 2050px;
    width: 100%;
    background-color: #F2FEFF;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%);
    z-index: -11;
}

/* ロマンを知って！ */

#dreamy{
    margin: 250px auto 0 auto;
    padding-top: 250px;
    position: relative;
}

/* ピーコックグリーンの星 */
#dreamy >.img-small{
    top: 450px;
    left: 700px;
    transform: rotate(-10deg);
}

/* 黄色の星 */
#dreamy >.img-medium{
    top: 550px;
    left: 900px;
    transform: rotate(-30deg);
}


#legend-map{
    margin: 200px auto 0 auto;
}

#legend-map > p{
    font-size: 32px;
    color: #187FC4;
    text-align: center;
}

#legend-map{
    text-align: center;
}

#legend-map >img{
    border-radius: 20px;
    
}

/* クリッカブルマップ */
/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
	display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

/* アクセス */
#access{
    margin: 250px auto 0 auto;
    background-color: #F2FEFF;
    height: 400px;
}

#access > p{
    font-size: 50px;
    text-align: center;
    line-height: 400px;
}

#access-link{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#access-link::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: #003DB9;
    bottom: 150px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.5s;   /*変形の時間*/
}
#access-link:link{
    color: #003DB9;
    text-decoration: none;
}

#access-link:hover{
    transform: scale(1.1);
}
    
#access-link:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

/* フッター */
footer{
    margin: 100px auto 30px auto;
}

#footer-logo{
    margin: 0 auto;
    width: fit-content;
}

#footer-logo > img{
    height: 150px;
    text-align: center;
}

#copyright{
    text-align: center;
    font-size: 20px;
}